/* Core styles */
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
  }
  
  img {
    max-width: 100%;
  }
  
  h1, h2, h3, h4 {
    margin-bottom: 15px; 
  }
  
  /* Section padding */
  .section {
    padding: 2rem 0;
  }
  
  /* Containers */
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
    overflow: hidden;
    color: #ffffff;
  }  
  
  /* Text colors */
  .text-primary {
    color: #f7c08a;
  }
  
  .text-light {
    color: #fff;
  }
  

.btn {
    display: inline-block;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  
  .btn {
    background-color: #d2a679;
    color: #333;
  }
  
  .btn:hover {
    background-color: #bb9b6a; 
  }
  
  .btn-light {
    background-color:#151515;
    color: #e8e8e8;  
  }
  
  .btn-primary {
    background-color: #bb9b6a;
  }

  .btn-primary:hover {
    background-color: #ffffff;
  }
  
  
  /* Header */
  header {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }
  
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }
  
  header a {
    color: #333;
    text-decoration: none;
  }
  
  header nav li {
    display: inline-block;
    margin-left: 20px;
  }
  
  /* Showcase */ 
  #showcase {
    height: 85vh;
    width: 100vw;
    background: url('assets/img/spa\ \(Flyer\).png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 5rem;
  }
  
  #showcase h2 {
    font-size: 7rem;
    margin-bottom: 1rem;
    color: #ffffff;
    font-family: 'Dancing Script', cursive;
  }

  #showcase p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
  }
  
  
  /* Responsive */
  @media (max-width: 600px) {
    .columns {
        flex-direction: column;
    }
  
  }

  
  
  /* Footer */
  footer {
    background: #fff;
    color: #333;
    text-align: center;
    padding: 30px 0;
  }
  
  footer h4 {
    margin-bottom: 10px;
  }
  

 /* section-hero */
  .section-hero {
    background-size: cover;
    background-position: center; 
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .section-title {
    text-align: center; 
  }
  
  .columns {
    display: flex;
  }
  
  .column {
    flex: 1;
  }
  
  .section-hero p {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
  }
  

  .section-hero h2 {
    color: #333;
    font-size: 4.5rem;
    padding-bottom: 3rem;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

  .section-hero .columns {
    display: flex;
    align-items: center;
    height: 400px;
  }

  .section-hero .column:first-child {
    flex: 2;
  }
  .section-hero .column:last-child {
    flex: 1;
  }

  .section-hero img {
    padding-left: 3rem;
  }


  .section-hero p {
    text-align: justify;
  }